#upload-form{
    display: relative;
    width: auto;
    height: auto;
    padding: 0px 30px 40px 30px;
    background-color: #0f0f0f;
    color: #E4DFDA;
    margin: 0px 0px 0px 20vw;
    float: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 4.9vh;
    font-weight: 800;
}

#upload-input[type="file"]{
    position: absolute;
    left: 20;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

#upload-btn{
    justify-content: center;
    border: 0;
    background-color: #E4DFDA;
    color: #0f0f0f;
    margin: 30px 0px 0px 0px;
    padding: 10px;
    width: 150px;
    transition: .3s color ease;
    transition: 3s text-decoration-line ease;
    font-weight: 800;
    display: inline-block;
}

#upload-btn:hover{
    color: #EE6123;
    text-decoration-line: underline;
}

#select-photo-btn{
    justify-content: center;
    position: relative;
    border: 0;
    background-color: #E4DFDA;
    color: #0f0f0f;
    margin: 30px 0px 0px 0px;
    padding: 10px;
    width: 265px;
    transition: .3s color ease;
    transition: 3s text-decoration-line ease;
    font-weight: 800;
    display: inline-block;
    overflow: hidden;
}

#select-photo-btn:hover{
    color: #EE6123;
    text-decoration-line: underline;
}